@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

$color: #fff;

html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.canvas {
  width: 100vw;
  height: 100vh;
  display: table;
  overflow: hidden;
}

.canvas__heading {
  font-size: 8vw;
  color: darken($color, 2.5%);
  position: absolute;
  z-index: 2;
  font-weight: 100;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  margin: 0;
  padding: 2.5%;

  // transition
  transition: color 250ms ease;

  // hover
  &:hover {
    color: darken($color, 95%);
    cursor: none;

    // circle
    + .follow {
      background-color: darken($color, 2.5%);
    }
  }
}

.canvas__gradient {
  position: absolute;
  z-index: 0;
  display: table;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: darken($color, 95%);

  // transition
  transition: all .5s ease;

  // on fire
  .canvas--animated & {
    opacity: 1;
  }
}

// tracer
.follow {
  width: 10vw;
  padding-bottom: 10%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
  display: block;
  opacity: 0;
  position: absolute;

  // transition
  transition: all 100ms ease, transform .5s ease;
  left: 0;
  top: 0;
  transform: scale(1);

  // specific
  &.canvas__follow {
    z-index: 1;
  }

  // when fired
  .canvas--animated & {
    transform: scale(1.5);
  }
}
