.image {
    width: 100vw;
    margin: 10vw 0;
    display: block;

    .image__img {
      width: 80%;
      height: auto;
      display: block;
    }

    &.image--right {
      .image__img {
        margin-left: 20%;
      }
    }
}
