// panel
.panel {
  width: 100vw;
  background-color: darken($color, 85%);
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 5;

  // set after object with arrow
  .panel__arrow {
    // width: 2vw;
    height: 1.5vw;
    max-height: 20px;
    position: fixed;
    opacity: 0;
    right: 2vw;
    bottom: 2vw;
    transition: all ($timing * 10) $power;
    outline: none;
    border: none;
    background: transparent;
    border: 0;
    // cursor: pointer;

    &.is--visible {
      opacity: .8;
    }

    svg {
      margin: 0 auto;
      height: 100%;
      width: auto;
      display: block;
      fill: $color;
    }
  }

  .panel__button {
    position: absolute;
    right: 0;
    margin-right: 1vw;
  }

  .panel__scroll {
    padding: 5vw;
    height: 100%;
  }

  .panel__intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85vw;
    margin: 2.5vw;
    margin-bottom: 10vw;
  }

  .panel__text {
    color: $color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 7.5vw;
    backface-visibility: hidden;
    will-change: transform;

    .panel__text-column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }

    article {
      width: 40vw;
      margin: 0 2.5vw;
    }

    h1 {

    }

    p {

    }
  }
}
