$color: #fff;
// $secondary: #ee5a24;
$red: #ff5a5f;
$orange: #fcb07e;
$timing: 100ms;
$power: cubic-bezier(0.77, 0, 0.175, 1);
$expo: cubic-bezier(1, 0, 0, 1);
$ease: cubic-bezier(0.25, 0.1, 0.25, 1);
