[data-observe] {

  // Custom animations
  &.text {
    opacity: 0;
    transition: all ($timing * 10) $ease;

    &.fade--right {
      transform: translateX(15%);
    }

    &.fade--left {
      transform: translateX(-15%);
    }

    // when animated,
    &.is--viewable {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  // image component
  &.image {
    transform: translateX(-5vw) translateY(15%);
    opacity: 0;
    transition: all ($timing * 8) $ease;

    &.is--viewable {
      transform: translateX(-5vw) translateY(0%);
      opacity: 1;
    }
  }

  &.footer {
    // default
    // transform: translateY(10%);
    transition: all ($timing * 10) $ease;
    // opacity: 0;

    .push {
      transition: margin ($timing * 8) $power;
      margin: 0;
    }

    // when in viewport
    &.is--viewable {
      // transform: translateY(0%);
      // opacity: 1;

      .push {
        margin: 0 .5vw;
      }
    }
  }

  &.panel__text {
    // default
    transform: translateY(25%);
    transition: all ($timing * 10) $ease;
    opacity: 0;

    // when in viewport
    &.is--viewable {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}
